.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 4px; /* Zwiększona szerokość kreski */
    background-color: #FF0000;
    transition: width 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: -1;
}

